<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck of Cards</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <h1>Deck of Cards Home</h1>
    <h2>Computer Hand</h2>
    <% let newComputerHand = sorted(data.computer) %>
    <% newComputerHand.forEach(elem => { %>
        <img src="<%= elem.image %>" />
    <% }) %>
    <% let newPlayerHand = sorted(data.player) %>
    <h2>Player Hand</h2>
    <% newPlayerHand.forEach(elem => { %>
        <img src="<%= elem.image %>" />
    <% }) %>
</body>
</html>