<%- include("partials/header") %>
<body id="error">
    <h1>Error Page</h1>
    <!-- This error message varies based on what the error is -->
    <p><%= errmessage %></p>
<%- include("partials/footer") %>