<%- include("partials/header") %>
  <body id="landing_body">
    <h1 class="text-uppercase text-center mt-5">In the mood for a flick? Find out what is playing now.</h1>
    <!-- This form action goes to the getresults route -->
    <form action="/getresults" class="text-center mt-5">
      <button type="submit" class="btn btn-danger">Click Here for Now Playing Movies</button>
    </form>
    <p class="bottom">Image by <a href="https://pixabay.com/users/dbreen-1643989/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1085072">Devon Breen</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1085072">Pixabay</a></p>
<%- include("partials/footer") %>