<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary" data-bs-theme="dark">
  <!-- Adding "fixed-top" to the class sticks the navbar to the top of the page when you scroll -->
    <div class="container-fluid">
      <a class="navbar-brand" href="/landing">Movie Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/getresults">Now Playing</a>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/searchresults">
          <!-- You need to have name="search" in this input for the search to work. Otherwise it displays inappropriate results -->
          <input name="search" class="form-control me-2" type="search" placeholder="Search for movies" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>